<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
</head>

<body>
    <h1>Pacientes</h1>

    <p><a th:href="@{/inicio}">Volver al inicio</a></p>

    <table border="1">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.idPaciente}">P001</td>
                <td th:text="${paciente.nombre}">Nombre</td>
                <td th:text="${paciente.email}">email</td>
                <td th:text="${paciente.telefono}">telefono</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
